{
    "MySQL": {
        "username": "USERNAME",
        "password": "PASSWORD",
        "database": "DATABASE",
        "server": "localhost",
        "port": 3306
    },
    "Auth": {
        "usingIaAuth": false,
        "returnurl":"https://accounts.interaapps.de/oauth/<ID>",
        "key":"API KEY"
    }
}