{
    "databases": {
        "main": {
            "driver": "mysql",
            "username": "USERNAME",
            "password": "PASSWORD",
            "database": "DATABASE",
            "server": "SERVER",
            "port": 3306
        }
    },
    "Auth": {
        "usingIaAuth": false,
        "returnurl":"https://accounts.interaapps.de/oauth/<ID>",
        "key":"API KEY"
    }
}