@import './base.scss';

.petrel-code-editor {
    background: var(--obj-background-color);
    color: var(--text-color);
    caret-color: var(--text-color);;
    font-size: 16px;
    line-height: 23px;
    resize: vertical;
    min-height: 140px;
    border-radius: 10px;
}

.petrel-code-editor::-webkit-resizer {
  background: var(--obj-background-color);
  border-bottom-right-radius: 10px;
}


.petrel-code-editor textarea, .petrel-code-editor pre {
    left: 10px;
    top:  10px;
}

.petrel-code-editor .petrel-code-editor-line-numbering {
    background: var(--obj-background-color);
    padding-right: 7px;
    border-right: 2px solid #66666633;
    min-height: 100%;

    padding-top: 10px;
    padding-left: 13px;
}


.petrel-code-editor::-webkit-scrollbar {
    width:  20px;
    height: 20px;
    background: #00000022;
    border-radius: 20px;
    border: 7px solid transparent;
    background-clip: padding-box;  
}

.petrel-code-editor::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.3);
    border-radius: 20px;
    border: 7px solid transparent;
    background-clip: padding-box;  
}

.petrel-code-editor .petrel-code-editor-autocompletion {
    background: #191c25AA;
    border-radius: 10px;
    backdrop-filter: blur(7px);
    border: 2px solid #00000055;

    max-height: 150px;
    overflow: auto;
    
    margin-top: 10px;
}
.petrel-code-editor .petrel-code-editor-autocompletion a {
    padding: 4px 6px;
    margin: 5px;
    border-radius: 6px;
    font-size: 16px;
}
.petrel-code-editor .petrel-code-editor-autocompletion a:hover {
    background: #FFFFFF21;
}