@import './highlightjs.scss';

:root {
  --background-color: #212531;
  --page-background-color: #1a1e27;
  --obj-background-color: #262b39;
  --obj-background-color-hover: #1d212c;
  --text-color: #ffffff;
  --text-color-alpha: #ffffff88;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Space Mono', sans-serif;
}

pre {
  font-family: 'DM Mono', "Space Mono", monospace;

  * {
    font-family: 'DM Mono', "Space Mono", monospace;
  }
}

html, body {
  height: 100%;
  min-height: 100%;
  background: var(--page-background-color);
}

#app {
  background: var(--page-background-color);
  @media screen and (max-width: 720px) {
    background: var(--background-color);
  }
}

a:link,
a:visited,
label {
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background: #00000033;
}

::-webkit-scrollbar-thumb:hover {
  background: #00000066;
}

#snackbar {
  background-color: var(--text-color);
  color: #17fc2e;
  text-align: center;
  border-radius: 3px;
  padding: 16px 32px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transform: translate(0%, 100%);
  transition: 0.3s;
  opacity: 0;
  z-index: 1000000;
}

#snackbar.show {
  transform: translate(0%, 0%);
  transition: 0.5s;
  opacity: 1;
}

.input {
  background: var(--obj-background-color);
  color: var(--text-color);
  display: block;
  border: none;
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;

  &::placeholder {

  }

  &:focus,
  &:hover {
    border: none;
    outline: none;
  }
}

.button {
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
  color: #FFF;
  text-align: center;
  cursor: pointer;
  transition: 0.3s background;
  background: #3469FF;
  margin-top: 10px;
  text-decoration: none;

  &:hover {
    background: #2c5de6;
  }

  &.delete {
    background: #d3414d;
  }

  &.gray {
    background: var(--background-color);
    color: var(--text-color);
  }

  &.small {
    padding: 3px 10px;
  }
}

.label {
  font-size: 14px;
  color: var(--text-color);
  margin-bottom: 10px;
}

.error {
  color: var(--text-color);
  background: #ee0000;
  width: 80%;
  padding: 9px;
  margin: 9px auto;
  border-radius: 1px;

  &::before {
    font-family: "Material Icons";
    content: "error_outline";
    margin-right: 10px;
    font-size: 15px;
  }
}

#pastes,
#folders {
  max-width: 840px;

  .paste,
  .paste:visited {
    display: block;
    color: var(--text-color);
    text-decoration: none;
    background: var(--obj-background-color);
    border-radius: 10px;
    padding: 10px;
    overflow-x: auto;
    transition: 0.3s background;
    margin-bottom: 15px;
    max-height: 200px;
    display: block;
    overflow: hidden;
    position: relative;

    .date {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }

    h3 {
      font-size: 20px;
    }

    code {

    }

    &:hover {
      background: var(--obj-background-color-hover);
    }

  }
}

#preview pre {
  background: #00000011;
  padding: 14px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#action-buttons {
  float: right;
  cursor: default;

  a,
  a:link,
  a:visited {
    margin-left: 20px;
    color: var(--text-color);
    text-decoration: none !important;
    vertical-align: middle;
    margin-top: 10px;
    line-height: 45px;
    font-size: 18px;
    cursor: pointer;

    i {
      vertical-align: middle;
    }
  }
}


#loading {
  position: absolute;
  background: #00000022;
  width: 100%;
  right: 0px;
  top: 0px;
  height: 100%;
  cursor: default;
  text-align: center;

  svg {
    transform: translateY(-50%);
    top: 39%;
    position: relative;
  }
}