.hljs {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
  background: transparent;
}

.hljs,
.hljs-tag,
.hljs-subst {
	color: #f8f8f2;
}

.hljs-strong,
.hljs-emphasis {
	color: #a8a8a2;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
  color: #e1fc69;
  font-weight: 500;
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
	color: #26eb37;
}

.hljs-strong {
	font-weight: normal;
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name {
  color: #5c87ff;
  font-weight: 500;
}

.hljs-keyword,
.hljs-selector-class,
.hljs-selector-tag {
	font-weight: normal;
}

.hljs-symbol,
.hljs-attribute,
.hljs-attr {
	color: #66d9ef;
}

.hljs-params,
.hljs-class .hljs-title {
	color: #f8f8f2;
}

.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable,
.hljs-deletion {
  color: #eb2668;
  font-weight: 400;
}

.hljs-meta {
	color: #eb2668EE;
}

.hljs-comment {
	color: #ffffff6e;
  font-family: "Jost", sans-serif;
}

.hljs-string {
	color: #69d8a0;
}
