.hljs {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
  background: transparent;
}

.hljs,
.hljs-tag,
.hljs-subst {
	color: var(--highlight-tab);
}

.hljs-strong,
.hljs-emphasis {
	color: var(--highlight-emphasis);
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
  color: var(--highlight-primitive);
  font-weight: 500;
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
	color: var(--highlight-class);
}

.hljs-strong {
	font-weight: normal;
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name {
  color: var(--highlight-tag);
  font-weight: 500;
}

.hljs-keyword,
.hljs-selector-class,
.hljs-selector-tag {
	font-weight: normal;
}

.hljs-symbol,
.hljs-attribute,
.hljs-attr {
	color: var(--highlight-attr);
}

.hljs-params,
.hljs-class .hljs-title {
	color: var(--highlight-params);
}

.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable,
.hljs-deletion {
  color: var(--highlight-type);
  font-weight: 400;
}

.hljs-meta {
	color: var(--highlight-meta);
}

.hljs-comment {
	color: var(--highlight-comment);
//   font-family: "Jost", sans-serif;
}

.hljs-string {
	color: var(--highlight-string);
}
