* {
	margin: 0px;
	padding: 0px;
	font-family:  "Jost", "Sans serif";
	outline: none !important;
}

body {
	background: #1a1e27;
}


.contentinput {
	border: none;
	border-radius: 8px;
	width: 100%;
	resize: none;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 270px;
	min-height: 100px;
	box-sizing: border-box;
	font-size: 15px;
	background: #262b39;
	color: #FFFFFF;
	padding: 10px;
}

#folderList {
	width: 100%;
	background: #262b39;
	border: none;
	border-radius: 8px;
	font-size: 15px;
	box-sizing: border-box;
	color: #FFFFFF;
	padding: 8px 10px;
}

#nums {
    color: #545454;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*margin-right: 10px;*/
}

.contentinputscroll {
    overflow-y: auto;
    display: flex;
    height: 100%;
}

#contentinputtextarea{
	border: none;
	width: 100%;
	resize: none;
	box-sizing: border-box;
	font-size: 15px;
	background: none;
	overflow-y: hidden;
	overflow-x: auto;
	color: #434343;
	
	resize:none;
}



.submitbutton {
	border: none;
	background: #5151c9;
	padding: 7px 30px;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 10px;
	transition: 0.4s;
	color: #ffffff;
	font-size: 16px;
}

.clear {
	margin-left: 10px;
	border: none;
	background: transparent;
	padding: 7px 30px;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 10px;
	transition: 0.4s;
	color: #EE4343;
	font-size: 16px;
	border: solid 1px #EE4343;
}

.clear:hover {
	background: #EE4343;
	color: #FFFFFF;
}

.submitbutton:hover {
	background: #3e3eab;
}

.submitbutton:focus {
	background: #3e3eab;
}

#middle_title {
	margin-top:20px;
}

#web_contents {
	color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	width: 80%;

}


.link1:link {
text-decoration: none;
color: #FFFFFF;
}

.link1:visited {
text-decoration: none;
color: #FFFFFF;
}

.link1:hover {
text-decoration: none;
color: #DDDDDD;
}

#pastecode {
	border-radius: 10px;
	padding: 10px;
	background: #262b39;
	display: block;
	color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	margin-top: 20px;
	font-size: 18px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 1px 19px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 1px 19px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 1px 19px 0px rgba(0,0,0,0.15);
	box-sizing: border-box;


}


#pastecode pre {
	min-height: 50px;
}


.copybtn {
	cursor: pointer;
	color: #FFFFFF;
	transition: 0.3s;
	margin-left: 6px;
	vertical-align: middle;
}

.copybtn:hover {
	color: #DDDDDD;
}

#pasteButtons {
    vertical-align: middle;
}
#pasteButtons a{
    margin-right: 10px;
}


.titleinput {
	border: none;
	background: #262b39;
	color: #FFFFFF;
	padding: 10px;
	border-radius: 8px;
	width: 100%;
	font-size: 17px;
	box-sizing: border-box;
}


.paste_title {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #FFFFFF;
}




.error {
	color: #FFFFFF;
	background: #EE0000;
	width: 80%;
	padding: 9px;
	margin: 9px auto;
	border-radius: 1px;
}

.error::before {
	font-family: 'Material Icons';
	content: "error_outline";
	margin-right: 10px;
	font-size: 15px;
}


#footer {
	width: 100%;
	padding-bottom: 20px;
	padding-top: 20px;
	background: #212531;
	box-sizing: border-box;
	text-align: center;
	margin-top: 30px;
}

#footer #linksection {
	text-align: center;
}

#footer #linksection a {
	padding: 3px 6px;
}

#nav {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	padding: 10px 0px;
	background: #212531;
	height: 40px;
	line-height: 40px;
	transition: 0.3s;
}

#nav_menu {
	float: right;
	margin-right: 10%;
	display: block;
}

#logo {
	color: #323232;
	font-size: 30px;
	transition: 0.3s;
	position: fixed;
	left: 50%;
    transform: translate( -50%);
	text-align: center;
}


#logo img {
	height: 40px;
}

#logo:link {
	text-decoration: none;
	color: #FFFFFF;
}

#logo:hover {
	color: #DDDDDD;
}

#profilepicture {
	height: 35px;
	width: 35px;
	border-radius: 100%;
}

body {
	margin-top: 100px;
}

.nav_link {
	color: #FFFFFF;
	transition: 0.3s;
	margin-left: 10px;
}

.nav_link:link {
	text-decoration: none;
	color: #FFFFFF;
}

.nav_link:visited {
	text-decoration: none;
	color: #FFFFFF;
}

.nav_link:hover {
	color: #DDDDDD;
}

.flatbtn {
    cursor: pointer;
    border: none;
    background: #5454DE;
    padding: 7px 29px;
    border-radius: 3px;
    color: #FFFFFF !important;
    font-size: 16px;
    line-height: 35px;
    text-decoration: none !important;
}







@media screen and (max-width: 720px) {



	#pastecode {
		width: 90%;
	}

	#web_contents {
		width: 90%;
	}

	.paste_title {
		width: 90%;
	}


	.error {
		  width: 90%;
	   }



	



	#nav_menu {
		margin-right: 5%;
	}

	#logo {
		left: 5%;
		transform: translate(0);
		text-align: left;
	}





}






.sidenav {
	height: 100%;
	width: 0px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #333344;
	overflow-x: hidden;
	padding-top: 50px;
	transition: 0.6s;
	box-shadow: -3px 0px 10px 0px rgba(0,0,0,0.75);
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 27px;
	color: #FFFFFF;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color: #FFFFFF;
	background: #222233;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.pasteList_paste_href {
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    color: #FFFFFF !important;
    text-decoration: none !important; 
}
.pasteList_paste_href a:link, a:visited {
    color: #FFFFFF !important;
    text-decoration: none !important;
}

.pasteList_paste_main {
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 24px;
    background: #262b39;
    display: block;
    color: #FFFFFF;
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 1px 19px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 19px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 19px 0px rgba(0,0,0,0.15);
    box-sizing: border-box;
}

.pasteList_paste_title {
    font-size: 20px;
}

.pasteList_paste_content {
    font-size: 14px;
    max-height: 42px;
}

.pasteList_paste_date {
    color: #DEDEDE;
    float: right;
    font-size: 14px;
}




.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #262b39;
  }
  
  .hljs,
  .hljs-tag,
  .hljs-subst {
    color: #f8f8f2;
  }
  
  .hljs-strong,
  .hljs-emphasis {
    color: #a8a8a2;
  }
  
  .hljs-bullet,
  .hljs-quote,
  .hljs-number,
  .hljs-regexp,
  .hljs-literal,
  .hljs-link {
    color: #ae81ff;
  }
  
  .hljs-code,
  .hljs-title,
  .hljs-section,
  .hljs-selector-class {
    color: #a6e22e;
  }
  
  .hljs-strong {
    font-weight: normal;
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
  
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-name {
    color: #b294bb;
  }
  
  .hljs-keyword {
      font-weight: normal;
  }
  
  .hljs-symbol,
  .hljs-attribute,
  .hljs-attr {
    color: #66d9ef;
  }
  
  .hljs-params,
  .hljs-class .hljs-title {
    color: #f8f8f2;
  }
  
  .hljs-type,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-selector-id,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-addition,
  .hljs-variable,
  .hljs-template-variable {
    color: #ff7567;
  }
  
  .hljs-deletion,
  .hljs-meta {
    color: #ff7567;
  }
  
  .hljs-comment {
  color: #75715e
  }
  
  .hljs-string {
  color: #b5bd68;
  }
  